<div class="row">
  <div class="medium-12 columns">
    <h1>Points of interest</h1>
  </div>
</div>

<div class="row">
  <div class="large-4 columns">
    <form action="<%= point_of_interests_path %>" method="get">
      <input type="search" name="search" value="<%= params[:search] %>">
    </form>
  </div>
  <div class="large-8 columns">
    <%= paginate @point_of_interests %>
  </div>
</div>
<div class="row">
  <div class="medium-12 columns text-center">
    <table>
      <thead>
      <tr>
        <th>Name</th>
        <th>City</th>
        <th>Rating</th>
        <th>Reviews</th>
        <th>Tags</th>
        <th>Date of creation</th>
        <th class="action">Actions</th>
      </tr>
      </thead>

      <tbody>
      <% @point_of_interests.each do |point_of_interest| %>
          <tr>
            <td><%= point_of_interest.default_name %></td>
            <td><%= point_of_interest.city.try(:name) %></td>
            <td><%= point_of_interest.rating %></td>
            <td><%= point_of_interest.reviews.count %></td>
            <td>
              <% point_of_interest.tags.each do |tag| %>
                  <span class="tag"><%= tag.name %></span>
              <% end %>
            </td>
            <td><%= l point_of_interest.created_at %></td>
            <td>

              <ul class="button-group radius action_button">
                <li>
                  <a href="<%= point_of_interest_path(point_of_interest) %>" class="tiny button action_button">
                    <img src="/images/icon_show.png"/>
                  </a>
                </li>
                <li>
                  <a href="<%= edit_point_of_interest_path(point_of_interest) %>" class="tiny button action_button">
                    <img src="/images/icon_edit.png"/>
                  </a>
                </li>
                <li>
                  <a href="<%= point_of_interest_path(point_of_interest) %>" data-confirm="Are you sure?"
                     rel="nofollow" data-method="delete" class="tiny button alert action_button">
                    <img src="/images/icon_destroy.png"/>
                  </a>
                </li>
              </ul>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="medium-12 columns">
    <a href="<%= new_point_of_interest_path %>" class="button small">Create new point of interest</a>
  </div>
</div>
